# This is a comment
# Assign LineFollower.java to Keita
wall-e/src/LineFollower.java   @KatieRJ

# Assign DataExchange.java to Viktoria
wall-e/src/DataExchange.java   @viktoriaszabo-sz

#Assign UltrasonicSensor.java to Roy
wall-e/src/UltrasonicSensor.java   @Welkro

#Assign ColorSensor.java to Sara
wall-e/src/ColorSensor.java   @cerberus2078
